#ignore the virtual enviroments
venv/
Optimization/venv

#ignore install path files.
InstallPaths.txt

#Ignore Log files
user-agreement.txt
*.log
GUI-Launch-Errors.txt
STSL-Settings/flags.json

.chroma_db
.chroma_db/

tmp/
tmp

dev/

StableDiffusion/
Start STSL.bat.lnk
__pycache__/config.cpython-310.pyc
