/* styles.css */

body {
    background-color: #1e1e1e !important;
    color: #FFFFFF !important;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    letter-spacing: 1px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222222;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.title h1 {
    text-align: center !important;
}

h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.tab {
    padding: 10px 20px;
    background-color: #555555;
    color: #ffffff;
    cursor: pointer;
    flex: 1;
    min-width: 200px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;

}

.tab:last-child {
    margin-right: 0; /* Remove margin-right for the last tab */
}

.tab.active {
    background-color: #DF9712;
    color: #ffffff;
}

.sub-title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.content {
    display: none;
}

.content.active {
    display: block;
    padding: 10px;
    border: #fff 2px solid;
    border-radius: 10px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.spec-button-grid {
    display: block !important;
}

.button-grid button {
    width: 100%;
    min-height: 40px;
    background-color: #DF9712;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    font-weight: bolder;
    letter-spacing: 1px;

}

.button-grid button:hover {
    background-color: #815b0a;
}


/* for profile manager */

.card {
    background-color: #1e1e1e !important;
    color: #FFFFFF !important;
    border: none;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.13) !important;
}

.card-header:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.card-title {
    color: #ffffff !important;
}


.card hr {
    border-top: 1px solid rgba(255, 255, 255, 0.55) !important;
}

.form-control {
    background-color: #40444b;
    color: #b5bac1;
    border-color: #7289da;
}

.lead {
    text-align: center;
    font-size: 1.2rem !important;
}


.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: #36393f;
    color: #b5bac1;
    border-color: #7289da;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.alert.show {
    display: block;
}

.alert-dismissible {
    padding-right: 30px;
}

.alert-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

.alert-dismiss:hover {
    opacity: 1;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #999999 transparent transparent transparent;
    pointer-events: none;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #40444b;
    color: #b5bac1;
    border: none;
    padding: 10px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: none;
}

.select-wrapper select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7289da;
}

.select-wrapper select::-ms-expand {
    display: none;
}

.select-wrapper.select-disabled::after {
    display: none;
}

.select-wrapper.select-disabled select {
    cursor: not-allowed;
}

.input-area {
    width: 100%;
}

.input-area textarea {
    width: 100%;
    min-height: 150px;
    margin-bottom: 5px;
}

.output-area {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.output-area textarea {
    width: 100%;
    min-height: 150px;
}

/* styles.css */
@media (min-width: 576px) {
.modal-dialog {
    max-width: 750px!important;
}
    }

.modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    padding: 1rem;
    background-color: #DF9712;
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    color: #000000;
}

.modal-body {
    padding: 1rem;
    background-color: #1e1e1e;
}

.modal-footer {
    border-top: none;
    padding: 1rem;
    background-color: #1e1e1e;
}

.modal-footer button {
    background-color: #DF9712;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    height: 60px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.modal-footer button:hover {
    background-color: #815b0a;
}

.modal-body h6 {
    color: #ffffff;
    margin-bottom: 1rem;
}

.modal-body .form-check {
    margin-bottom: 0.5rem;
}

.modal-body .form-check-input {
    background-color: #40444b;
    border-color: #7289da;
}

.modal-body .form-check-label {
    color: #ffffff;
}

.modal-body hr {
    border-top: 1px solid rgba(255, 255, 255, 0.55) !important;
}

.modal-footer {
    justify-content: left!important;
}

button:disabled,
button[disabled]{
  opacity: 0.3!important; /* Adjust the opacity to your desired level */
  cursor: not-allowed!important;

}

button:disabled:hover,
button[disabled]:hover {
    background-color: #DF9712;
}

.versionNumber {
    text-align: center;
    position: relative;
    border-radius: 10px;
    border: #FFFFFF solid 2px;
    padding:1rem;
    background: #555555;
    font-weight: bold;
}

.versionNumber a {
    color: #fff;
    text-decoration: underline;
}

.updateStatus {
    font-size: 1.5em;
    color: #85ff41;
}

.patron-list {
      list-style-position: inside;
}