<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SillyTavern Simple Launcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="{{ url_for('static', filename='js/main_script.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GB3BP9FMVW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GB3BP9FMVW');

</script>


</head>
<body>
<div class="container">
    <div class="title"><h1>SillyTavern Simple Launcher</h1></div>
    <!-- Add alert container -->
    {% if alert_message %}
        <div class="alert">
            <script>
                Swal.fire({
                    icon: 'info',
                    title: 'SillyTavern Extras Required',
                    text: '{{ alert_message }}',
                    confirmButtonText: 'OK'
                });
            </script>
        </div>
    {% endif %}
    <div class="tabs">
        <div class="tab active" onclick="showContent('launch')">Launch</div>
        <div class="tab" onclick="showContent('tools')">Tools</div>
        <div class="tab" onclick="showContent('support')">Support</div>
    </div>
    <div class="loading-container" id="loadingContainer" style="display: none;">
        <div class="loading-spinner"></div>
        <br>
        <div class="">Installing Please Wait...</div>
    </div>

    <div class="content active" id="launch">
        <div class="sub-title"><h2>Launch</h2></div>
        <div class="button-grid">
  <button id="launchMainBtn" onclick="launchMain()" {% if not repos_cloned.main %}disabled{% endif %}>Launch ST Main</button>
    <button id="launchDevBtn" onclick="launchDev()" {% if not repos_cloned.dev %}disabled{% endif %}>Launch ST Dev</button>
    <button id="launchExtrasBtn" onclick="launchExtras()" {% if not repos_cloned.extras %}disabled{% endif %}>Launch ST Extras</button>
    <button onclick="closeSillyTavern()" {% if not repos_cloned.main and not repos_cloned.dev %}disabled{% endif %}>Close SillyTavern</button>
    <button onclick="editConfig()" {% if not repos_cloned.main and not repos_cloned.dev %}disabled{% endif %}>Edit ST Config/Settings</button>
    <button onclick="launchProfileManager()" {% if not repos_cloned.main and not repos_cloned.dev %}disabled{% endif %}>Change ST Profile</button>
</div>
            <div class="sub-title"><h2>Install</h2></div>
        <div class="button-grid">
<button id="installMainBtn" onclick="install('mainBranch')" {% if repos_cloned.main %}disabled{% endif %}>Install Main Branch</button>
<button id="installDevBtn" onclick="install('devBranch')" {% if repos_cloned.dev %}disabled{% endif %}>Install Dev Preview Branch</button>
<button id="installExtrasBtn" onclick="disableButtons(); install('extras')" {% if repos_cloned.extras %}disabled{% endif %}>Install Extras</button>
        </div>
        <div class="sub-title"><h2>Update</h2></div>
        <div class="button-grid">
<button id="updateMainBtn" onclick="executeScript('Update SillyTavern', 'main')" {% if not repos_cloned.main %}disabled{% endif %}>Update Main Branch</button>
<button id="updateDevBtn" onclick="executeScript('Update SillyTavern', 'dev')" {% if not repos_cloned.dev %}disabled{% endif %}>Update Dev Preview Branch</button>
<button id="updateExtrasBtn" onclick="executeScript('Update SillyTavern', 'extras')" {% if not repos_cloned.extras %}disabled{% endif %}>Update Extras</button>

    </div>
    </div>



    <div class="content" id="tools">
        <div class="sub-title"><h2>Tools</h2></div>
        <div class="button-grid">
            <button onclick="migrateProfile()">Migrate Existing ST Install as Profile</button>
            <button onclick="backupST()">Backup SillyTavern Files</button>
            <button onclick="openOptimizePrompt()">OptimizePrompt GUI</button>
        </div>
    </div>


    <div class="content" id="support">
        <div class="sub-title"><h2>Support</h2></div>
        <div class="spec-button-grid button-grid" style="margin:0 auto; text-align: center;">
            <button style="font-size: 20px!important;" onclick="openURL('https://docs.sillytavern.app/')">SillyTavern
                Documentation (READ IT, READ IT, READ IT)
            </button>
        </div>
        <br>
        <div class="button-grid">
            <button onclick="openURL('https://github.com/SillyTavern/SillyTavern')">SillyTavern GitHub</button>
            <button onclick="openURL('https://github.com/blueprintCoding/sillyTavernSimpleLauncher')">SillyTavern Simple
                Launcher GitHub
            </button>
            <button onclick="openURL('https://sillytavernai.com')">SillyTavernAI.com</button>
            <button onclick="openURL('https://discord.gg/RZdyAEUPvj')">Discord</button>
            <button onclick="openURL('https://reddit.com/r/sillyTavernAI/')">Reddit</button>
            <button onclick="openURL('https://www.google.com/search?q=How+do+I+do+XXXXX+in+SillyTavern')">Google
            </button>
        </div>
        <br>
        <div class="sub-title"><h2>Support the development of STSL</h2></div>
        <div class="spec-button-grid button-grid" style="margin:0 auto; text-align: center;">
            <label>In my spare time, alongside my regular 9-5 job and my 3D printing shop, I work on STSL. If you'd like
                to show your support directly, you can become a subscriber on Patreon. My main aim with STSL is to make
                it super user-friendly for people who aren't tech-savvy, allowing them to easily install and utilize
                SillyTavern and Extras. I'm also working on including a bunch of extra features for those who are more
                experienced, such as profile management.</label>
            <button style="font-size: 20px!important;margin-top: 10px;"
                    onclick="openURL('https://patreon.com/SillyTavernSimpleLauncher?utm_medium=button_clcik&utm_source=STSLAPP&utm_campaign=STSLAPP&utm_content=join_link')">
                Support on Patreon
            </button>
            <div class="sub-title"><h3>Current Patrons</h3></div>
            <div class="patron-list"><ul>
                <li><b>VIP:</b> Epic Gamer - 1 Month</li>
            <li>Melissa - 2 Months</li>
                <li>Evan A. - 2 Months</li>
            </ul></div>
        </div>
    </div>
<div class="installed-modules">
   <div class="row">
  <div class="col-md-4">
    <p>Main Branch Installed?: <span id="mainStatus">{{ repos_cloned.main }}</span></p>
  </div>
  <div class="col-md-4">
    <p>Dev Preview Branch Installed?: <span id="devStatus">{{ repos_cloned.dev }}</span></p>
  </div>
  <div class="col-md-4">
    <p>Extras Installed?: <span id="extrasStatus">{{ repos_cloned.extras }}</span></p>
  </div>

</div>
    <div class="row">

    <div class="col-md-4">
<p></p>
  </div>
  <div class="col-md-4">
    <div class="button-grid"><button style="width:355.6px;" onclick="shutdownSTSL()">☠️ Shutdown STSL ☠️</button>
  </div>
  <div class="col-md-4">
      <p></p>
  </div>
    </div>
        <div class="col-md-12" style="text-align: center;"> <p><span style="color:red">WARNING:</span> This will shutdown, STSL, SillyTavern and ALL other node and python servers on your computer.</p></div></div>
<div class="col-md-12 versionNumber">Installed STSL Version: v{{ app_version }}<br>
    <div class="updateStatus" id="updateStatus"></div>

          <a href="#" onclick="showUpdateInstructions('{{ latest_release }}')">Click here for lastest version: {{ latest_release }}</a>
</div>
</div>

</div>

<script>
        var appVersion = "{{ app_version }}";
  var latestRelease = "{{ latest_release }}";
  var updateInstructions = "{{ update_instructions }}";

  if (compareVersions(latestRelease, appVersion) > 0) {
    var updateStatus = "New Update Available";
    document.getElementById("updateStatus").innerText = updateStatus;
  }

  function compareVersions(version1, version2) {
      console.log(version1 + version2)
    var v1 = version1.split(".");
    var v2 = version2.split(".");
    for (var i = 0; i < v1.length; i++) {
      if (parseInt(v1[i]) > parseInt(v2[i])) {
        return 1;
      } else if (parseInt(v1[i]) < parseInt(v2[i])) {
        return -1;
      }
    }
    return 0;
  }
compareVersions(latestRelease,appVersion);
</script>
<!--<pre id="console-output"></pre>
  <script>
        // Function to append text to the console output
        function writeToConsole(text) {
            var consoleOutput = document.getElementById("console-output");
            consoleOutput.innerHTML += text + "<br>";
        }

        // Event listener to capture standard output messages
        if (!!window.EventSource) {
            var source = new EventSource("/console-stream");
            source.addEventListener("message", function (event) {
                writeToConsole(event.data);
            });
        }
    </script>-->
</body>
</html>