<!DOCTYPE html>
<html>
<head>
    <title>Silly Tavern Profile Migrator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
 <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header"><h2 class="card-title">Silly Tavern Profile Migrator</h2></div>
                    <p>This is tool is to migrate an existing SillyTavern install into STSL</p>
  <form id="migrate-form" action="/migrate-instance" method="POST">
        <div class="form-group">
            <label for="source_directory">Previously Installed SillyTavern Folder:</label>
            <input type="text" class="form-control" name="source_directory" id="source_directory" required>
             <small class="form-text">Enter the file path of the previously installed SillyTavern folder. (ex: C:/Documents/SillyTavern)</small>
        </div>

        <div class="form-group">
            <label for="new_instance_name">New profile name:</label>
            <input type="text" class="form-control" name="new_instance_name" id="new_instance_name" required>
        </div>

        <div class="form-group">
            <label for="branch_choice">Select the branch for the new profile:</label>
            <select class="form-control" name="branch_choice" id="branch_choice">
                <option value="main">Release Branch</option>
                <option value="dev">Staging Branch</option>
            </select>
        </div>
<div class="button-grid">
    <button type="submit" class="btn btn-primary">Save New Profile</button></div>
  </form>
</div>

            </div>
                <!-- Back to Index button -->
            <div class="spec-button-grid button-grid" style="padding-top:10px;">
                <button class="btn btn-secondary" onclick="goToIndex()">Return to Home</button>
            </div>

        </div>
 </div>
</div>


<script>
  document.getElementById("migrate-form").addEventListener("submit", function(event) {
    event.preventDefault();
    var form = event.target;
    var url = form.getAttribute("action");
    var method = form.getAttribute("method");
    var data = new FormData(form);

    fetch(url, {
      method: method,
      body: data
    })
    .then(response => response.json())
    .then(result => {
      if (result.success) {
        // Display success message
        alert(result.message);
      } else {
        // Display error message
        alert("Error: " + result.message);
      }
    })
    .catch(error => {
      alert("An error occurred: " + error.message);
    });
  });

      function goToIndex() {
        window.location.href = '/';
    }
</script>


</body>
</html>
